<!doctype html>
<html lang="pt-br">

<head>
    <title>Formulário de cadastro</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/signin.css">

</head>

<body class="text-center">
    <div class="container">
		<div class="form-signin">
            
            <h2>Seleção - Br24</h2><br><br><br>
            <div class="alert alert-success" role="alert">
                Cadastro foi atualizado com sucesso
            </div>
            <br><br><br>

            <a class="btn btn-primary" href="formulario.html" role="button">Novo cadastro</a>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>